#imgHomeContent {
  width: 100%;
  height: 335px;
  padding-top: 0;
  position: relative;
  top: -22px;
}
#imgHome {
  width: 100%;
  height: 100%;
}
.tabFeature {
  background-color:#FF5850;
  color:white;
  padding:0;
}
.content-feature {
  border-top: 1px solid white;
  padding:13px;
}
.icon {
  margin-right: 15px;
}
.icon-share {
  color:white;
  background-color: #1678C4;
}
.icon-download {
  background-color:#5BBDBF;
  color:#FFFFFF;
}
