.content-search-header * {
  display:inline-block;
}

.form-group {
  display:inline-block;
}

#filter-search {
  width: 20%;
  float: left;
  margin-left: 2%;
  margin-right: 0.75%;
}
.content-card {
  margin-top: 2%;
  overflow-y: scroll;
  height:700px;
}
