.header-list {
  background-color: #EBEBEB !important;
  color:#848992;
}
.second-header {
  float: right;
  text-decoration: none;
}
.first-header {
  color: #1678c4;
}

.header {
  color: #848992;
  height: 7%;
  font-size: 19px;
}
#badgeDescripcions {
  background-color: #ffffff;
  color: #000000;
  font-weight:300;
}
