:root {
  --background-color-toc: #F2F2F2;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body, html {
  max-width: 100%;
  overflow-x: hidden;
}

body, html, #main {
  height: 100%;
  font-size: 14px !important;
}

.name-tab {
  position: relative;
  color:#58bdbf;
  left: 74%;
  top: -40px;
  font-size: 25px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.app-container,
.content-layout {
  width: 100%;
  height: 100%;
}
.alert {
  box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  width: 100%;
}
.alert:hover {
  box-shadow: 0 6px 6px rgba(0,0,0,0.19), 0 5px 5px rgba(0,0,0,0.23);
}
