.navbar{
  position: relative;
  z-index: 1;
}

.dropdown-menu {
  border-radius: 0;
  font-size: 12px;
}
.navbar-default .btn-link ,
.navbar-default .btn-link:hover{
  color:white !important;
  text-decoration: none;
}
.btn-login{
  background-color: #000000;
  border: 0;
  color: #FFFFFF;
}
.header-nav {
  text-decoration: none !important; 
  color: #FFFFFF;
}
